
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;1,100;1,300&display=swap');

body {
  background: mediumpurple;
  color: white;
  text-align: center ;font-family: 'Poppins', sans-serif;
  
} 
.prof{ width:50%;
border-radius: 60%

}  
.btn {
 display:block;
 color: black;
  padding: 30px;
  background:white;
  margin:16px;
  box-shadow: 16px 16px black
} 